body{
	margin: 0px;
	padding: 0px;
	background-color: #fffaf0;
}

/*=====   MAIN LOGO   =====*/
section.logo{
	margin: 2%;
	padding: 2%;
	
}
section.logo h1{
	font-size: 270%;
	margin: 0px;
	padding: 0px;
	display: inline;
}
section.logo p{
	font-size: 57%;
	margin: 0px;
	padding: 0px;
	clear: right;
	
}

/*=====   MAIN image   =====*/
img.mainimage{
	float: right;
	width: 30%;
	height: 20%;
	z-index: 1000;
	margin-top: 0px;
}

/*=====   Signup Signin   =====*/
section.signup{
	margin-top: 10%;
}
a.register{

	text-decoration: none;
	color: black;
	display: inline;
	background-color: cyan;
	padding: 1%;
	margin: 1%;
	display: block;
	border-radius: 10px;
	margin-right: 60%;
	margin-bottom: 3.5%;
}

a.register:hover{
	color: cyan;
	background-color: black;
}

/*=====   Introduction Para   =====*/
#introduction{
	background-color: #D7BDE2;
	height: 200px;
	margin-top: 5%;
}

#introduction p{
	margin-left: 170px;
}

#introduction p h3{
	margin-left: 150px;
}

img.intro_image{
	float: left;
	width: 170px;
	z-index: 1000;
	display: inline;
}
/*=====   Flexbox   =====*/
div.flex_intro{
	display: flex;
	justify-content: center;

}
div.flex_intro div{
	margin-left: 10%;
	margin-right: 10%;
	background-color: yellow;
	width: 250px;
	padding: 3%;
	justify-content: center;
	opacity: 0.5;
}
div.flex_intro div:hover{
	opacity: 1;
}

/*=====   Footer   =====*/
#footer{
	height: 60px;
	margin: 10px;
	background-color: #5c755e;
	clear: both;
	border-radius: 5px;
	color: #efe5d0;
	text-align: center;
	padding: 15px;
	font-size: 90%;
}

#footer ul{
	padding: 5px;
	list-style-type: none;
	text-align: center;
	margin: 10px;
	border-radius: 5px;	
}

#footer ul li{
	display: inline;
}

#footer ul li a{
	text-decoration: none;
	font-family: Arial;
	padding: .2em 1em;
	color: #fff;
	background-color: #5c755e;
}

#footer ul li a:hover{
	color: #000;
	background-color: #fff;
}

/*=====   media queries making website responsive   =====*/
@media (max-width: 1000px){
	img.intro_image{
		width: 130px;
	}
	#introduction{
		height: 200px;
	}
	#introduction p{
		margin-left: 130px;
	}
	#introduction p h3{
		margin-left: 110px;
	}

}

@media (max-width: 900px){
	section.logo{
		font-size: 70%;
	}
	section.signup{
		margin-top: 7%;
	}
	a.register{
		width: 60%;
		padding: 3ex;
		font-size: 120%;
	}
	img.intro_image{
		width:100px;

	}
	#introduction{
		height:250px;
	}
	#introduction p{
		margin: 2px;
		padding: 1px;
		padding-top: 0px;
	}
	div.flex_intro{
		display: inline;
		margin: 1px;
		justify-content: center;
	}
	div.flex_intro div{
		float: left;
		margin: 4%;
		justify-content: center;
		width: 110px;
		font-size: 80%;
	}
	div.flex_intro div ul li{
		padding: 1%;
	}
}
@media (max-width: 550px){
	div.flex_intro div{
		display: grid;
		margin: 1%;
		justify-content: center;
		width: 100px;
		font-size: 60%;

	}
}

@media (max-width: 200px){
	section.logo{
		font-size: 70%;
	}
	section.signup{
		margin-top: 7%;
	}
	a.register{
		width: 60%;
		padding: 3ex;
		font-size: 120%;
	}
	img.intro_image{
		width:100px;

	}
	#introduction{
		height:250px;
	}
	#introduction p{
		margin: 2px;
		padding: 1px;
		padding-top: 0px;
	}
	div.flex_intro{
		display: inline;
		margin: 1px;
		justify-content: center;
	}
	div.flex_intro div{
		float: left;
		margin: 4%;
		justify-content: center;
		width: 110px;
		font-size: 80%;
	}
	div.flex_intro div ul li{
		padding: 1%;
	}
}
@media (max-width: 550px){
	div.flex_intro div{
		display: grid;
		margin: 1%;
		justify-content: center;
		width: 100px;
		font-size: 60%;

	}
}