body{
	margin: 0px;
	padding: 0px;
	background-color: #fffaf0;
}

/*=====   MAIN LOGO   =====*/
section.logo{
	margin: 2%;
	padding: 2%;
	
}
section.logo h1{
	font-size: 270%;
	margin: 0px;
	padding: 0px;
	display: inline;
}
section.logo p{
	font-size: 57%;
	margin: 0px;
	padding: 0px;
	clear: right;
	
}

/*=====   MAIN image   =====*/
img.mainimage{
	float: right;
	width: 30%;
	height: 20%;
	z-index: 1000;
	margin-top: 0px;
}

/*=====   Signup Signin   =====*/
section.signup{
	margin-top: 10%;
}
a.register{

	text-decoration: none;
	color: black;
	display: inline;
	background-color: cyan;
	padding: 1%;
	margin: 1%;
	display: block;
	border-radius: 10px;
	margin-right: 60%;
	margin-bottom: 3.5%;
}

a.register:hover{
	color: cyan;
	background-color: black;
}

/*=====   Introduction Para   =====*/
#introduction{
	background-color: #D7BDE2;
	height: 200px;
	margin-top: 5%;
}

#introduction p{
	margin-left: 170px;
}

#introduction p h3{
	margin-left: 150px;
}

img.intro_image{
	float: left;
	width: 170px;
	z-index: 1000;
}
/*=====   Flexbox   =====*/
div.flex_intro{
	display: flex;
	justify-content: center;

}
div.flex_intro div{
	margin-left: 10%;
	margin-right: 10%;
	background-color: yellow;
	width: 250px;
	padding: 3%;
	justify-content: center;
	opacity: 0.5;
}
div.flex_intro div:hover{
	opacity: 1;
}



/*=====   media queries making website responsive   =====*/
@media (max-width: 700px){
	img.intro_image{
		width: 130px;
	}
	#introduction{
		height: 140px;
	}
	#introduction p{
		margin-left: 130px;
	}
	#introduction p h3{
		margin-left: 110px;
	}

}

@media (max-width: 550px){
	img.intro_image{
		width: 90px;
	}
	#introduction{
		height: 120px;
	}
	#introduction p{
		margin-left: 90px;
	}
	#introduction p h3{
		margin-left: 70px;
	}

}